In [1]:
store = "/home/d/Desktop/Tech-Lab/Projetos_Ciencia_de_Dados/Departamento_de_vendas/store.csv"

In [2]:
train = "/home/d/Desktop/Tech-Lab/Projetos_Ciencia_de_Dados/Departamento_de_vendas/train.csv"

## Importação das bibliotecas e base de dados

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime

## Dados das vendas

In [4]:
sales_train_df = pd.read_csv(train)

/tmp/ipykernel_32603/4118175883.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  sales_train_df = pd.read_csv(train)

In [5]:
# visualizar quantos registros existem :
sales_train_df.shape

(1017209, 9)

In [6]:
sales_train_df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

`O método .unique() é aplicado a uma série (ou coluna) de um DataFrame para encontrar e retornar os valores únicos presentes nessa série. Em outras palavras, ele elimina qualquer valor duplicado e retorna apenas os valores únicos.`

Imagine que você tem uma coluna em um DataFrame que registra os países de onde são as pessoas em uma pesquisa. Alguns países podem aparecer mais de uma vez se várias pessoas do mesmo país participaram da pesquisa. Usando .unique(), você pode descobrir todos os países únicos representados na pesquisa, excluindo as duplicatas.

Isso pode ser útil para entender a diversidade dos dados e para realizar análises que exigem uma contagem ou identificação precisa dos diferentes valores em uma série.

In [7]:
sales_train_df['DayOfWeek'].unique()

array([5, 4, 3, 2, 1, 7, 6])

In [8]:
sales_train_df['Open'].unique()

array([1, 0])

In [9]:
sales_train_df['Promo'].unique()

array([1, 0])

In [10]:
sales_train_df['StateHoliday'].unique()

array(['0', 'a', 'b', 'c', 0], dtype=object)

In [11]:
sales_train_df['SchoolHoliday'].unique()

array([1, 0])

In [12]:
sales_train_df.tail()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
1017204,1111,2,2013-01-01,0,0,0,0,a,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1

In [13]:
sales_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  object
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB

In [14]:
sales_train_df.describe()

,Store,DayOfWeek,Sales,Customers,Open,Promo,SchoolHoliday
count,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06
mean,5.584297e+02,3.998341e+00,5.773819e+03,6.331459e+02,8.301067e-01,3.815145e-01,1.786467e-01
std,3.219087e+02,1.997391e+00,3.849926e+03,4.644117e+02,3.755392e-01,4.857586e-01,3.830564e-01
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.800000e+02,2.000000e+00,3.727000e+03,4.050000e+02,1.000000e+00,0.000000e+00,0.000000e+00
50%,5.580000e+02,4.000000e+00,5.744000e+03,6.090000e+02,1.000000e+00,0.000000e+00,0.000000e+00
75%,8.380000e+02,6.000000e+00,7.856000e+03,8.370000e+02,1.000000e+00,1.000000e+00,0.000000e+00
max,1.115000e+03,7.000000e+00,4.155100e+04,7.388000e+03,1.000000e+00,1.000000e+00,1.000000e+00

`O método `.describe()` em pandas fornece estatísticas descritivas sobre os dados de um DataFrame.` 

1. **count**: Conta o número de observações não nulas em uma coluna. Isso ajuda a identificar valores ausentes.

2. **mean**: Calcula a média aritmética dos valores em uma coluna, representando o valor médio.

3. **std**: Representa o desvio padrão, que mede a dispersão dos valores em relação à média. Indica a variabilidade dos dados.

4. **min**: Retorna o valor mínimo encontrado na coluna, ou seja, o menor valor presente.

5. **25%, 50%, 75%**: Esses índices representam os percentis. O 25º percentil (1º quartil) indica o valor abaixo do qual 25% dos dados estão localizados. O 50º percentil (mediana) é o valor que divide os dados ao meio. O 75º percentil (3º quartil) indica o valor abaixo do qual 75% dos dados estão localizados.

6. **max**: Retorna o valor máximo encontrado na coluna, ou seja, o maior valor presente.

Esses índices fornecem uma visão geral útil da distribuição e resumo estatístico dos dados em uma coluna do DataFrame. Eles ajudam a entender a tendência central, a dispersão e os valores extremos dos dados.

## Dados das lojas

In [15]:
store_info_df = pd.read_csv('/home/d/Desktop/Tech-Lab/Projetos_Ciencia_de_Dados/Departamento_de_vendas/store.csv')

In [17]:
store_info_df.shape

(1115, 10)

In [18]:
store_info_df.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [19]:
store_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

In [20]:
store_info_df.describe()

,Store,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear
count,1115.00000,1112.000000,761.000000,761.000000,1115.000000,571.000000,571.000000
mean,558.00000,5404.901079,7.224704,2008.668857,0.512108,23.595447,2011.763573
std,322.01708,7663.174720,3.212348,6.195983,0.500078,14.141984,1.674935
min,1.00000,20.000000,1.000000,1900.000000,0.000000,1.000000,2009.000000
25%,279.50000,717.500000,4.000000,2006.000000,0.000000,13.000000,2011.000000
50%,558.00000,2325.000000,8.000000,2010.000000,1.000000,22.000000,2012.000000
75%,836.50000,6882.500000,10.000000,2013.000000,1.000000,37.000000,2013.000000
max,1115.00000,75860.000000,12.000000,2015.000000,1.000000,50.000000,2015.000000